# 2018-01-26-morning

### Data
- Training data: https://github.com/ga-students/DS_HK_1/blob/gh-pages/data/class/lemonsClassificationData/lemon_training.csv
- Data dictionary: https://github.com/ga-students/DS_HK_1/blob/gh-pages/data/class/lemonsClassificationData/description.txt

### Task
- Create a Gradient Boosted Classifier
- Predict whether a automobile will be a lemon based on certain characteristics.
- Use cross validation
- What's the highest accuracy you can get on the test dataset?

### Pull Request
- Submit one on completion of task

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn import tree
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.externals import joblib

In [6]:
df = pd.read_csv("lemon_training.csv")#, skipinitialspace = True, skiprows=[0])

df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
3,6,0,12/7/2009,ADESA,2004,5,MITSUBISHI,GALANT 4C,ES,4D SEDAN ES,...,8149.0,9451.0,NaN,NaN,19638,33619,FL,5600.0,0,594
4,7,0,12/7/2009,ADESA,2004,5,KIA,SPECTRA,EX,4D SEDAN EX,...,6230.0,8603.0,NaN,NaN,19638,33619,FL,4200.0,0,533

In [9]:
df.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,51086.000000,51086.000000,51086.000000,51086.000000,48817.000000,51086.000000,51074.000000,51074.000000,51074.000000,51074.000000,50872.000000,50872.000000,50872.000000,50872.000000,51086.000000,51086.000000,51086.000000,51086.000000,51086.000000
mean,36618.496046,0.123106,2005.345829,4.172865,1.494991,71551.170027,6130.284587,7376.405549,8497.062008,9853.171751,6135.332934,7394.514251,8776.393262,10146.978357,26376.722037,58154.286791,6728.183249,0.025036,1276.733626
std,21047.987937,0.328562,1.727967,1.709283,0.521793,14610.162224,2461.222402,2721.558450,3155.359434,3384.978073,2432.202199,2682.701099,3087.064877,3305.865439,25727.740155,26148.304712,1768.969563,0.156237,600.140941
min,1.000000,0.000000,2001.000000,0.000000,0.000000,5368.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,18477.750000,0.000000,2004.000000,3.000000,1.000000,61867.250000,4273.000000,5406.250000,6268.000000,7483.000000,4279.000000,5415.000000,6533.000000,7781.000000,17212.000000,32124.000000,5425.000000,0.000000,837.000000
50%,36685.000000,0.000000,2005.000000,4.000000,1.000000,73434.500000,6099.500000,7306.500000,8435.500000,9772.000000,6063.000000,7308.000000,8715.000000,10099.500000,19662.000000,74135.000000,6700.000000,0.000000,1169.000000
75%,54852.500000,0.000000,2007.000000,5.000000,2.000000,82478.000000,7767.750000,9027.000000,10648.000000,12087.750000,7743.000000,9018.000000,10915.000000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000
max,73013.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,38785.000000,1.000000,7498.000000

In [8]:
df = df[[type(d) != float for d in df["Size"]]] # Dump the two Nans in Size

In [ ]:
#df.dropna(axis=0, how='any', inplace=True)

In [ ]:
#df["MakeNumeric"] = df["Make"].astype("category", ordered = True).cat.codes

In [78]:
dfmod = df

dfmod = dfmod.drop('PurchDate', 1)
dfmod = dfmod.drop('Auction', 1)
#dfmod = dfmod.drop('start_time_DI', 1)
#dfmod = dfmod.drop('VehicleAge', 1)
dfmod = dfmod.drop('Trim', 1)
dfmod = dfmod.drop('SubModel', 1)
dfmod = dfmod.drop('Color', 1)
dfmod = dfmod.drop('WheelTypeID', 1)
#dfmod = dfmod.drop('VehOdo', 1)
dfmod = dfmod.drop('Size', 1)
dfmod = dfmod.drop('MMRAcquisitionAuctionAveragePrice', 1)

dfmod = dfmod.drop('MMRAcquisitionAuctionCleanPrice', 1)
dfmod = dfmod.drop('MMRAcquisitionRetailAveragePrice', 1)
dfmod = dfmod.drop('MMRAcquisitonRetailCleanPrice', 1)
dfmod = dfmod.drop('MMRCurrentAuctionAveragePrice', 1)

dfmod = dfmod.drop('MMRCurrentAuctionCleanPrice', 1)
dfmod = dfmod.drop('MMRCurrentRetailAveragePrice', 1)
dfmod = dfmod.drop('MMRCurrentRetailCleanPrice', 1)
dfmod = dfmod.drop('PRIMEUNIT', 1)

dfmod = dfmod.drop('AUCGUART', 1)
dfmod = dfmod.drop('BYRNO', 1)
dfmod = dfmod.drop('VNZIP1', 1)
dfmod = dfmod.drop('VNST', 1)

#dfmod = dfmod.drop('VehBCost', 1)
dfmod = dfmod.drop('IsOnlineSale', 1)
dfmod = dfmod.drop('WarrantyCost', 1)
dfmod = dfmod.drop('WheelType', 1)

dfmod = dfmod.drop('Nationality', 1)
dfmod = dfmod.drop('TopThreeAmericanName', 1)
dfmod = dfmod.drop('RefId', 1)
dfmod = dfmod.drop('Transmission', 1)
#dfmod['gender'] = dfmod[['gender']].fillna(value = 'o')
#dfmod["engaged"] = (dfmod["explored"] == 10) | (dfmod["certified"] == 1)  #to add the engagement column

dfmod = dfmod.drop('Make', 1)

In [79]:
#dfmod["MakeNumeric"] = dfmod["Make"].astype("category", ordered = True).cat.codes 
dfmod["ModelNumeric"] = dfmod["Model"].astype("category", ordered = True).cat.codes 
dfmod = dfmod.drop('Model', 1)

In [80]:
dfmod.head()

,IsBadBuy,VehYear,VehicleAge,Model,VehOdo,VehBCost,ModelNumeric
0,0,2006,3,MAZDA3,89046,7100.0,553
1,0,2004,5,1500 RAM PICKUP 2WD,93593,7600.0,0
2,0,2005,4,FOCUS,69367,4000.0,345
3,0,2004,5,GALANT 4C,81054,5600.0,396
4,0,2004,5,SPECTRA,65328,4200.0,803

In [81]:
#dfmod = dfmod.drop('Make', 1)
dfmod = dfmod.drop('Model', 1)

In [82]:
dfmod.head()

   IsBadBuy  VehYear  VehicleAge  VehOdo  VehBCost  ModelNumeric
0         0     2006           3   89046    7100.0           553
1         0     2004           5   93593    7600.0             0
2         0     2005           4   69367    4000.0           345
3         0     2004           5   81054    5600.0           396
4         0     2004           5   65328    4200.0           803

In [83]:
dfmod.dropna(axis=0, how='any', inplace=True) 
dfmod.describe()

,IsBadBuy,VehYear,VehicleAge,VehOdo,VehBCost,ModelNumeric
count,51086.000000,51086.000000,51086.000000,51086.000000,51086.000000,51086.000000
mean,0.123106,2005.345829,4.172865,71551.170027,6728.183249,484.266942
std,0.328562,1.727967,1.709283,14610.162224,1768.969563,266.752941
min,0.000000,2001.000000,0.000000,5368.000000,1.000000,0.000000
25%,0.000000,2004.000000,3.000000,61867.250000,5425.000000,287.000000
50%,0.000000,2005.000000,4.000000,73434.500000,6700.000000,459.000000
75%,0.000000,2007.000000,5.000000,82478.000000,7900.000000,719.000000
max,1.000000,2010.000000,9.000000,115717.000000,38785.000000,992.000000

In [84]:
#df['HasCabin'] = df["Cabin"].apply(lambda x: 0 if type(x) == float else 1) 
X = dfmod.drop("IsBadBuy", 1)
y = dfmod["IsBadBuy"]

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
model = GradientBoostingClassifier(n_estimators = 100).fit(X_train, y_train)
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.878984427499
0.87514087431

In [77]:
list(zip(X_test, model.feature_importances_))

[('VehYear', 0.018536982587582428),
 ('VehicleAge', 0.14193517842929451),
 ('VehOdo', 0.2963024615981138),
 ('VehBCost', 0.26476839315252798),
 ('MakeNumeric', 0.092737648862729963),
 ('ModelNumeric', 0.1857193353697513)]

In [87]:
import time

cv = KFold(n_splits = 10)

def Elapsed_Time(started):
    later = time.time()

    hours = int((later - started) / 3600)
    minutes = int(((later - started) % 3600) / 60)
    seconds = int(((later - started) % 3600) % 60)

    return "%02d:%02d:%02d" % (hours, minutes, seconds)

In [88]:
for feature_count in range(3, len(X)):
    start_time = time.time()
    model = GradientBoostingClassifier(max_features = feature_count)
    scores = []
    for train_i, test_i in cv.split(X):
        Xr, yr, Xt, yt = X.loc[train_i], y.loc[train_i], X.loc[test_i], y.loc[test_i]
        model.fit(Xr, yr)
        scores.append(model.score(Xt, yt))
    print('estimators:', estimators, 'scores:', sum(scores)/len(scores), Elapsed_Time(start_time))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').